@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* colors */
/* fonts */
/* CSS RESET */
html {
  scroll-behavior: smooth;
  font-size: 14px;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: inherit;
}

body {
  line-height: 1.5;
  /* improve text rendering */
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", Arial, sans-serif;
}

/* set media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

h2 {
  font-weight: 700;
  font-size: 2.074rem;
}

ul {
  list-style-type: none;
}

a {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font: inherit;
  color: inherit;
  transition: 0.3s all ease-in-out;
}

button {
  background: none;
  border: none;
}

/* ****** */
/* LAYOUT */
/* ****** */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  padding: 1em 1.5em;
}
header div {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
header div .logo {
  width: 120px;
}
header div span {
  max-width: 150px;
  font-size: 0.833rem;
  font-weight: 600;
}
header .mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  color: #FFFFFF;
}
header .mobile-nav .x-menu {
  position: absolute;
  top: 0;
  right: 0;
  margin: 35px 15px 0 0;
}
header .hide-on-mobile {
  display: none;
}
header .mobile-menu {
  display: block;
}

main {
  margin-top: 120px;
}
main .intro-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background: linear-gradient(to bottom, #2AA8E1 50%, #6DC0E7);
  text-align: center;
  padding: 2.5em;
  color: #FFFFFF;
}
main .about-section h2 {
  padding: 1em;
  text-align: center;
  color: #F7BA1D;
}
main .about-section p {
  padding: 2.5em;
  color: #515960;
}
main .about-section p span {
  font-weight: 700;
}
main .turtle-keychain-section img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
}
main .turtle-keychain-section div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  background: linear-gradient(to bottom, #2AA8E1 50%, #6DC0E7);
  text-align: center;
  padding: 2.5em;
  color: #FFFFFF;
}
main .turtle-keychain-section div a {
  background-color: #FFFFFF;
  border-radius: 100px;
  padding: 0.8em 2em;
  color: #2AA8E1;
  font-weight: 600;
}

.banner {
  min-width: 100%;
  max-height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}

.no-scroll {
  overflow: hidden;
  height: 100vh;
}

@media (min-width: 770px) {
  html {
    font-size: 16px;
  }
  header,
  main {
    max-width: 2000px;
    margin: auto;
  }
  header {
    padding: 1.5em 2.5em;
  }
  header div {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
  header div .logo {
    width: 150px;
  }
  header div span {
    font-size: 1rem;
    margin-top: 5px;
  }
  header .desktop-nav {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2em;
  }
  header .desktop-nav .hide-on-mobile {
    display: block;
  }
  header .desktop-nav .mobile-menu {
    display: none;
  }
  main .intro-section {
    padding: 10em 0;
  }
  main .intro-section p {
    max-width: 750px;
  }
  main .about-section p {
    margin: auto;
    max-width: 1000px;
  }
  main .turtle-keychain-section {
    display: grid;
    grid-template-columns: 1fr 60%;
    min-height: 10vh;
  }
  main .turtle-keychain-section img {
    aspect-ratio: 3/4;
  }
  main .turtle-keychain-section div p {
    max-width: 550px;
  }
}
.slide-in-top {
  animation: slide-in-top 500ms ease;
}

.slide-out-top {
  animation: slide-out-top 500ms;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes slide-out-top {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-1000px);
  }
}/*# sourceMappingURL=style.css.map */