@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* colors */

$white: #FFFFFF;
$blue: #2AA8E1;
$yellow: #F7BA1D;
$gray: #7E8B97;
$black-800: #443F3F;
$black-900: #18181B;

/* fonts */

$font-family: 'Inter', Arial, sans-serif;

$fw-regular: 500;
$fw-medium: 600;
$fw-bold: 700;
$fw-black: 800;

$fs-50: 0.833rem;
$fs-100: 1rem;

/* CSS RESET */

html {
    scroll-behavior: smooth;
    font-size: 14px;
}

*, 
*::before, 
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    font: inherit;
}

body {
    line-height: 1.5;

    /* improve text rendering */
    -webkit-font-smoothing: antialiased;

    font-family: $font-family;
}

/* set media defaults */
img, 
picture, 
video, 
canvas, 
svg {
    display: block;
    max-width: 100%;
}

/* avoids text overflow */
p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    overflow-wrap: break-word;
}

/* improve line wrapping */
p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

ul {
    list-style-type: none;
}

a {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;

    font: inherit;
    color: inherit;

    transition: 0.3s all ease-in-out;
}

/* ****** */
/* LAYOUT */
/* ****** */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 1.5em;

    div {
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        .logo {
            width: 120px;
        }

        span {
            max-width: 150px;

            font-size: $fs-50;
            font-weight: $fw-medium;
        }
    }

    .mobile-nav {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 999;

        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5em;

        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
        
        color: $white; 
        
        .x-menu {
            position: absolute;
            top: 0;
            right: 0;
            margin: 42px 15px 0 0;
        }
    }
    
    .hide-on-mobile {
        display: none;
    }
    .mobile-menu {
        display: block;
    }
}

// for desktop screens
@media (min-width: 600px) {
    header {
        div {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 1em;

            span {
                margin-top: 5px;
            }
        }

        .desktop-nav {
            display: flex;
            justify-content: left;
            align-items: center;
            gap: 2em;
    
            .hide-on-mobile {
                display: block;
            }
    
            .mobile-menu {
                display: none;
            }
        }
    }
}

// animations
.slide-in-top {
    animation: slide-in-top 500ms ease;
}

.slide-out-top {
    animation: slide-out-top 500ms
}

@keyframes slide-in-top {
    0% {
        transform: translateY(-1000px);
    } 100% {
        transform: translateY(0px);
    }
}

@keyframes slide-out-top {
    0% {
        transform: translateY(0px);
    } 100% {
        transform: translateY(-1000px);
    }
}