@import '../abstract/variables', '../abstract/mixins', '../abstract/animations', '../base/default', '../layout/header', '../layout/layout';

main {
    padding-top: 110px;

    .hero-section {
        @include flexbox(column, end, start);

        aspect-ratio: 1 / 1;
        background-image: url('../../assets/images/covers/what_it_is_to_be_a_volunteer.jpg');
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 3em;

        color: $white;

        @include media-desktop {
            aspect-ratio: auto;
            min-height: 90vh;
            padding: 4em;

            h2 {
                font-size: 5em;
            }
        }

        div {
            @include media-desktop {
                max-width: 900px;
            }

            a {
                background-color: $gray-100;
                border-radius: 0.5em;
                padding: 0.5em 2em;
                margin-top: 1em;
                text-decoration: underline;

                font-weight: $fw-medium;
            }
        }
    }

    .intro-section {
        @include flexbox(column, center, center, 1em);
        
        background: linear-gradient(to bottom, $blue 50%, $light-blue);
        text-align: center;
        padding: 2.5em;
    
        color: $white;

        @include media-desktop {
            padding: 10em 0;

            p {
                max-width: 800px;
            }
        }
    }

    .about-section {
        h2 {
            padding: 1em;
            text-align: center;

            color: $yellow;
        }
        p {
            padding: 2.5em;
            color: $gray-200;

            @include media-desktop {
                margin: auto;
                max-width: 1000px;
            }

            span {
                font-weight: $fw-bold;
            }
        }
    }
}
