@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


// colors

$white: #FFFFFF;
$blue: #2AA8E1;
$light-blue: #6DC0E7;
$yellow: #F7BA1D;
$gray-100: #C0D0CF;
$gray-200: #7E8B97;
$black-800: #443F3F;
$black-900: #18181B;

// fonts

$font-family: 'Inter', Arial, sans-serif;

$fw-regular: 500;
$fw-medium: 600;
$fw-bold: 700;
$fw-black: 800;

$fs-50: 0.833rem;
$fs-100: 1rem;
$fs-400: 2rem;
$fs-500: 2.7rem;

// screens
$desktop-viewport: 770px;